@charset "utf-8";
/* CSS Document */


*{margin:0;padding:0;}
header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}

/* basic */
body{font-family:Arial, Georgia, Serif;font-size:12px;color:#555;}
div,p,ol,ul,li,img,a,h1,h2,h3,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:middle;}
label{vertical-align:middle;height:13px;}
input{vertical-align:middle;}
input[type=text], input[type=file], input[type=password]{height:16px;line-height:16px;padding:3px 2px 2px 8px;vertical-align:middle;font-size:12px;color:#555;border:1px solid #b4b4b4;background:#fff;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;border:none;background:transparent;vertical-align:middle;-webkit-border-radius:0;}
input.dis,select.dis{background:#f4f4f4;color:#666;}
input.dis_txR,select.dis_txR{background:#fff;color:#f44949 !important;}/* (add)20170309 */
input,select,textarea{vertical-align:middle;font-family:Dotum,'돋움',Gulim,'굴림',Arial,sans-serif;font-size:12px;border:1px solid #b4b4b4;}
textarea{padding:7px 2px 7px 8px;color:#555;*padding-left:1px;}
select{display:inline-block;color:#555;height:25px;padding:3px 2px 2px 3px !important;}

/* align */
.t_center{text-align:center !important;}
.t_right{text-align:right !important;}
.t_left{text-align:left !important;}

.v_top{vertical-align:top !important;}
.v_middle{vertical-align:middle !important;}
.v_bottom{vertical-align:bottom !important;}

.f_right{float:right !important;}
.f_left{float:left !important;}
.f_none{float:none !important;}

.cboth{clear:both;*overflow:hidden;}
.cboth:before,
.cboth:after{display:table;content:'';}
.cboth:after{clear:both;}

.fwb{font-weight:bold !important;}/* (add)20170524 */

/* input_style1 */
.input_style1{margin-right:10px;display:inline-block;height:25px;padding:0 0 0 5px;background:url(../img/bg/bg_input.gif) no-repeat left top;}
.input_style1 em{display:inline-block;width:100%;height:23px;padding:2px 12px 0 0;font-style:normal;vertical-align:top;background:url(../img/bg/bg_input.gif) no-repeat right top;}
.input_style1 input[type=text]{font-family:"돋움", Dotum, "굴림", Gulim, Arial, sans-serif;width:100%;font-size:12px;color:#666;padding-top:4px;display:block;border:none;background:none;}
.input_style1 input.num{letter-spacing:0 !important;}
.input_style1.fin{background:url(../img/bg/bg_input_fin.gif) no-repeat left top;}
.input_style1.fin em{background:url(../img/bg/bg_input_fin.gif) no-repeat right top;}

.input_style1.dis{background:url(../img/bg/bg_input_dis.gif) no-repeat left top;}
.input_style1.dis em{background:url(../img/bg/bg_input_dis.gif) no-repeat right top;}

.input_style_cal{margin-right:10px;display:inline-block;height:25px;padding:0 0 0 5px;vertical-align:middle;background:url(../img/bg/bg_input_cal.gif) no-repeat left top;}
.input_style_cal em{display:inline-block;width:100%;height:25px;padding:0 12px 0 0;font-style:normal;background:url(../img/bg/bg_input_cal.gif) no-repeat right top;}
.input_style_cal input[type=text]{font-family:"돋움", Dotum, "굴림", Gulim, Arial, sans-serif;width:100%;font-size:12px;color:#666;margin:4px 0 0 0;display:block;border:none;background:none;}

/* text common */
/* default link */
a{cursor:pointer;}
a:link,a:visited{text-decoration:none;color:#555;}
a:hover,a:active{text-decoration:none;color:#555;}

/* font color */
.txt_r{color:#f44949 !important;}
.txt_b{color:#22a16b !important;}
.txt_b2{color:#0288d1 !important;}
.txt_g{color:#999 !important;}
.txt_gr{color:#00af9a !important;}

/* margin/padding */
.mgt10{margin-top:10px !important;}
.mgt15{margin-top:15px !important;}/* (add)20170309 */
.mgt20{margin-top:20px !important;}
.mgb5{margin-bottom:5px !important;}
.mgb0{margin-bottom:0 !important;}
.mgb10{margin-bottom:10px !important;}
.mgb15{margin-bottom:15px !important;}
.mgb20{margin-bottom:20px !important;}
.mgb25{margin-bottom:25px !important;}
.mgb30{margin-bottom:30px !important;}
.mgl4{margin-left:4px !important;}/* (add)20170524 */

/* etc */
.blind{display:none !important;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}
.t_hover:hover{text-decoration:underline !important;}
