@charset "EUC-KR";
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
	background: #ecebe9 ;
	/*	linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 1000px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#form0{
	width: 76%;
	margin: 0 10%;
	border: 0 none;
	background: white;
	position: relative;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 180px 31px 40px 31px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	/*stacking fieldsets above each other*/
}
#form0 .fs-title {
    color: #2C3E50;
    font-size: 28px;
    margin-top: -162px;
    text-transform: uppercase;
}


#form1,#form2,#form3{
	width: 76%;
	margin: 0 10%;
	border: 0 none;
	background: white;
	position: relative;
	padding: 13px 31px;
	border-radius: 3px;
	box-sizing: border-box;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    /*stacking fieldsets above each other*/
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}


/* code from codepen */
#key-parties {
  width:100%;
  height: 310px;
  display: flex;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
   -webkit-box-pack: start;
      -ms-flex-pack: start;
    justify-content: flex-start;
  -webkit-box-align: start;
     -ms-flex-align: start;
        align-items: flex-start;
}
#key-parties.show-all {
  height: auto;
}

#key-parties-menu {
  margin: 0;
  width: 350px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #ecebe9;
}

.force-overflow
{
	min-width: 10px;
}

/*
 *  STYLE 15
 */

.style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.style-15::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#595959),
									   to(#808080),
									   color-stop(.6,#b3b3b3))
}


li.menu-item {
  width: 325px;
}

/* Menu list buttons */
a.menu-item-btn {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
     -webkit-box-pack: justify;
        -ms-flex-pack: justify;
      justify-content: space-between;
   - webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  padding: 9px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  /*font-weight: bold;*/
  background: #ecebe9;
  text-decoration: none;
  
}

a.menu-item-btn i.fa-chevron-down {
  font-size: 12px;
  display: none;
}

.menu-item a.menu-item-btn:hover {
  background: #d8d8d8bd;
}

/* Selected menu item */

.selected {
  background: #1ab188 !important;
  position: relative;
}
.selected::after {
  /*top: 12px;*/
  content: '';
  right: -5px;
  width: 15px;
  height: 15px;
  position: absolute;
  background: #DDEEF5;
  transform: rotate(45deg);
}

.selected i.fa-chevron-down {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Menu Item Main Content */

.menu-item-content {
  background: #ecebe9;
  position: absolute;
  margin-left: 30px;
  overflow-y: auto;  
  font-size: 15px;
  display: none;
  height: 100%;  
  width: 50%;  
  right: 0;
  top: 0;
}

.menu-item-content ul li{
  padding: 10px;
}

.menu-item-content ul li a{
  color: #003087;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 24px;
  text-decoration:none;
}

.menu-item-content ul li{
  /* border-bottom: solid 1px #91c3bf!important; */
}

.menu-item-content ul li:hover{
  background-color: #eaecec;
}

button.toggle-btn {
  outline: none;
  border: none;
  color: #E87722;
  cursor: pointer;
  font-size: 15px;
  margin-top: 18px;
  background: #fff;
  font-weight: bold;
  border-radius: none;
  margin-left: calc(50% - 52px);
}

button.toggle-btn i {
  margin-left: 3px;
}
button.toggle-btn:hover {
  color: #d55f00;
}

.show-content {
  display: block;
}

h3 {
  margin: 11px;
  color: #ffffff;
  /*font-size: 18px;
  font-weight: bold;*/
}

h4 {
	margin: 0;
	font-size: 15px;
    font-weight: bold;
}

.title{
	padding: 9px;
	margin: 0;
	background-color: #1ab188;	
}

.contact-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.contact-card {
	flex-wrap: wrap;
	justify-content: flex-start;
	/* display: flex; */
	padding: 6px 0 10px 0;
    display: inline-block;
    /* background: #ffffff; */
    /* min-width: 250px; */
    width: 100%;
    flex: 1;
}

.contact-card li {
  font-size: 15px;
  margin: 0px 0px;
}

.contact-card ul li{
  	padding: 10px 30px;
}

.contact-card ul li:hover{
	margin: 0;
    background-color: #ecebe9;
}

.contact-card a {
  color: #009FDF;
  font-weight: bold;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card hr {
  border: 0;
  clear: both;
  height: 1px;
  width: 100%;
  display: block;
  margin: 5px 0 15px 0;
  background-color: #D6D9E2;
}

/* Collapse into accordion on mobile */

@media only screen and (max-width: 600px) {
  /* Make menu height automatic */
  #key-parties {
    height: auto !important;
  }
  /* Stacks content under corresponding menu button */
	.menu-item-content {
	width: 100%;
    position: relative;
    padding: 12px 0 12px 12px !important;
  }
  .contact-card {
    margin: 0 12px 12px 0;
  }
  /* Show chevrons */
  a.menu-item-btn i.fa-chevron-down {
    display: inline-block;
  }
  /* Make menu span width of device */
  #key-parties-menu {
    width: 350px;
  }
  /* Hide category headers, buttons, selected caret, and shadows in accordions */
  .menu-item-content h3 {
    display: none;
  }
  .shadow-overlay {
    display: none !important;
  }
  #show-all-btn {
    display: none;
  }
  .selected::after {
    display: none;
  }
}

/* code from codepen */

/*inputs*/
#msform input, select {
	width: 100%;
	padding: 11px;
	color: #2C3E50;
	font-size: 100%;
	border-radius: 0px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: montserrat;
}

/*label*/
#msform td {
	text-align: left;
	vertical-align: top;
}

#msform tr td:first-child{
	width: 160px;
}
/*span*/
#msform span {
    color: #0e0e0e;
}
/*textarea*/
 #msform textarea  {
	width: 100%;
    padding: 15px;
    color: #2C3E50;
	font-size: 13px;
	border-radius: 3px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-family: montserrat;
	margin: 0px 0px 10px; 
	height: 159px;
 }

/*buttons*/
#msform .action-button {
	width: 100px;
	color: white;
	border: 0 none;
	cursor: pointer;
	margin: 10px 5px;
	padding: 10px 5px;
	font-weight: bold;
	border-radius: 1px;
	background: #27AE60;
}


#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	color: #2C3E50;
	font-size: 28px;
	margin-top: -6px;
	text-transform: uppercase;
}
.fs-subtitle {
	color: #666;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 32px;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	margin-bottom: 30px;
	counter-reset: step;
	/*CSS counters to number the steps*/
}
#progressbar li {
	float: left;
	width: 24.33%;
	color: #131111;
	font-size: 15px;
	position: relative;
	list-style-type: none;
	text-transform: uppercase;
}
#progressbar li:before {
	width: 20px;
	color: #333;
	display: block;
	font-size: 10px;
	background: white;
	line-height: 20px;
	border-radius: 3px;
	content: counter(step);
	counter-increment: step;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	top: 9px;
	content: '';
	left: -50%;
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	color: white;
	background: #27AE60;
}



/* 
upload file
*/
      .fileform{
		display:none;  
	  }
      #upload {
      	color:#fff;
        height:35px;
        margin:10px 0;
        cursor:pointer;
        line-height:35px;
        text-align:center;
        background-color:#27AE60;
      }
      #results {
      	padding:5px;
        margin:10px 0;
        border: 1px solid #ecebe9;
        background-color: whitesmoke;
      }
      #results img {
      	margin:0 5px 0 0;
        border:1px solid #000;
      }
	 #results img:hover,#results img:focus {
	 	cursor:pointer;
	 	opacity: 0.3; filter: alpha(opacity=30);
	    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
	}